---
name: home
url: /home
controller: LoginController
---
<div class="grid-frame vertical">
  <div class="grid-content shrink" style="padding: 0;">
    <ul class="primary condense menu-bar">
      <li><a><strong>Sportify</strong></a></li>
    </ul>
  </div>
  <div class="grid-content">
    <div class="grid-block"><br></div>
    <div class="grid-block text-center">
      <div class="grid-content"></div>
      <div class="grid-content">
        <div class="card">
          <div class="card-divider">
            <h3>Search Anything about Any Sport!</h3>
          </div>
          <div class="card-section">
              <form>
                <input type="text">
                <a class="button radius expand" ui-sref="search">Search</a>
              </form>
          </div>
        </div>
      </div>
      <div class="grid-frame"></div>
    </div>
  </div>
</div>
