---
name: search
url: /search?query
controller: SearchController
animationIn: zoomIn
---
<div class="grid-frame">
  <div zf-panel position="left" id="sidebar" class="medium-grid-block collapse medium-3 large-3 vertical">
    <div class="grid-content collapse shrink hide-for-medium">
      <a href="" class="secondary button expand" zf-close>Close</a>
    </div>
    <div class="grid-content collapse shrink">
      <ul class="primary condense menu-bar">
        <li><a><strong>Sportify</strong></a></li>
      </ul>
    </div>
    <div class="vertical grid-block">
        <h7 class="list-header">Categories</h7>
        <div class="grid-block" style="height: 15vh; overflow-y: hidden;">
          <div class="grid-content">
          <section class="block-list scrollable">
            <ul scrollable="">
              <li ng-repeat="cat in categories"><input id="{{cat}}" ng-click="filter(cat);" type="checkbox"> <label for="{{cat}}">{{cat}}</label></li>
            </ul>
          </section>
          </div>
        </div>
        <h7 class="list-header">HashTags</h7>
        <div class="grid-block" style="height: 15vh; overflow-y: hidden;">
          <div class="grid-content">
          <section class="block-list">
            <ul scrollable>
            </ul>
          </section>
          </div>
        </div>
    </div>
  </div>

  <div class="grid-block collapse medium-9 large-9 vertical">
    <div id="header" class="shrink collapse grid-content">
      <ul class="menu-bar primary">
        <li class="hide-for-medium small"><a zf-open="sidebar" href="#"><img zf-iconic="" icon="comment-square" size="small" class="settings iconic-color-primary"></a></li>
        <li class="medium-10">
          <form ng-submit="search()"><input class="search-bar" ng-model="searchInput" placeholder="Search"></form>
        </li>
        <li class="small-1">
          <a ng-click="search()">
            <img zf-iconic="" icon="magnifying-glass" size="small" class="settings iconic-color-primary">
          </a>
        </li>
        <li class="small-1" zf-open="info">
          <a href="#">
            <img zf-iconic="" icon="cog" size="small" class="settings iconic-color-primary">
          </a>
        </li>
      </ul>
    </div>
    <div id="tweets" class="grid-block scroll-section">

      <div class="small-6 medium-6 large-6 grid-content overflow-hidden" ng-repeat="document in documents">
        <div class="card slideLeft" ng-click="show(doc)" ng-repeat="doc in document">
          <div class="card-divider tweet_header">
            {{doc.user_name}}
          </div>
          <div class="card-section">
            <p ng-show="doc.lang=='en'" ng-bind-html="doc.text_en | linky"></p>
            <p ng-show="doc.lang=='de'" ng-bind-html="doc.text_de | linky"></p>
            <p ng-show="doc.lang=='es'" ng-bind-html="doc.text_es | linky"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div zf-panel position="right" id="info" class="collapse medium-3 large-3 vertical">
    <a href="" class="close-button" zf-close>×</a>
  </div>
</div>



